
h1 {
    color:#FF4500 ;
    font-size: 40px;
    font-family: Apple Chancery;
　　}
h2 {
    color:#663399 ;
    font-family: Chalkduster;
   }

body{
    color:white;
    font-family: Copperplate;
    font-size: 26px;
    }
